body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

.maintenance-container {
    text-align: center;
}

.logo {
    width: 150px; /* adjust size as needed */
    margin-top: 20px;
}

.message {
    font-size: 14px;
    font-family: Roboto;
    margin-top: 20px;
}

.countdown {
    font-size: 20px;
    margin-top: 20px;
}

.disconnected-cable {
    width: 80%; /* adjust size as needed */
    height: 60%;
    margin-top: 10px;
}
